.header {
    position: absolute;
    width: 1512px;
    height: 202px;
    left: 0px;
    top: 0px;
}

/*h1 {
    position: absolute;
    width: 125px;
    height: 42px;
    left: 106px;
    top: 69px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}*/

.nav {
    /*box-sizing: border-box;*/

    position: absolute;
    width: 433px;
    height: 791px;
    left: 77px;
    top: 120px;
    padding: 0%;
    margin: 0%;
    background: #FFFFFF;
    border-radius: 10px;
    /*transform: matrix(1, 0, 0, -1, 0, 0);*/
}

.avi {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 230px;
    top: 152px;
    padding: 0%;
    margin: 0%;
    background: url(.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 373px;
    position: absolute;
    height: 100%;
    overflow: auto;
    left: 107px;
    top: 476px;
  }
  
  li a {
    display: block;
    padding: 11px 16px;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  li a.active {
    background-color: #1877F2;
    color: white;
    border-radius: 30px;
  }
  
  li a:hover:not(.active) {
    background-color: #1877F2; 
    opacity: 0.6;
    color: white;
    border-radius: 30px;
    transition: .3s ease;
  }

  .dark {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 1400px;
    top: 810px;
  }

  .dark:hover {
    transform: scale(1.1);
    transition: transform .2s;
  }

  .help {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 1400px;
    top: 873px;
  }

  .help:hover {
    transform: scale(1.1);
    transition: transform .2s;
  }

  .line:hover {
      text-decoration: underline;
}